In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
# Data sources.
data_root = '../data'
data_timeseries = '../data/raw_ts'
data_phenotype = '../data/phenotype.csv'
data_ct = '../data/CT.csv'
data_euler = '../data/Euler.csv'
data_computed_fcms = '../data/processed_ts'

In [5]:
phenotype = pd.read_csv(data_phenotype, sep=',')
phenotype.index = np.vectorize(lambda x: 'UKB' + str(x))(phenotype['eid'])

euler = pd.read_csv(data_euler, sep=',', quotechar='\"')
euler.index = euler['eid']

structural = pd.read_csv(data_ct, sep=',', quotechar='\"')
structural = structural.drop(structural.columns[0], axis=1)
structural = structural.drop(['lh_???', 'rh_???'], axis=1)
structural.index = structural['NewID']

In [6]:
phenotype

,Unnamed: 0,31-0.0,34-0.0,50-0.0,50-1.0,50-2.0,52-0.0,54-0.0,54-1.0,54-2.0,...,40006-23.0,40006-24.0,40006-25.0,40006-26.0,40006-27.0,40006-28.0,40006-29.0,40006-30.0,40006-31.0,eid
UKB1000028,1,Female,1958,170.0,169.0,170.0,9,11010,11024.0,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000028
UKB1000133,2,Male,1947,176.0,NaN,175.0,4,11010,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000133
UKB1000260,3,Female,1949,169.0,NaN,168.0,12,11004,NaN,11027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000260
UKB1000329,4,Female,1949,158.0,NaN,158.0,2,10003,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000329
UKB1000430,5,Female,1953,158.0,NaN,158.0,7,11009,NaN,11027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UKB6025704,19887,Male,1954,180.0,180.0,180.0,7,11016,11024.0,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6025704
UKB6025720,19888,Female,1958,165.0,NaN,165.0,12,11014,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6025720
UKB6025771,19889,Female,1953,170.0,NaN,170.0,1,11013,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6025771
UKB6025805,19890,Female,1951,165.0,NaN,164.0,12,11016,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6025805
UKB6025942,19891,Female,1966,156.0,156.0,157.0,10,11001,11024.0,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6025942

In [7]:
euler

                   eid  eulerLeft  eulerRight    oldID
eid
UKB1000028  UKB1000028          7          16  1000028
UKB1000133  UKB1000133         22          15  1000133
UKB1000260  UKB1000260          9          10  1000260
UKB1000329  UKB1000329         20          15  1000329
UKB1000430  UKB1000430          7          12  1000430
...                ...        ...         ...      ...
UKB6025704  UKB6025704         19          19  6025704
UKB6025720  UKB6025720          7           6  6025720
UKB6025771  UKB6025771          4           1  6025771
UKB6025805  UKB6025805          4           8  6025805
UKB6025942  UKB6025942         15           7  6025942

[20215 rows x 4 columns]

In [8]:
structural

,lh_L_V1_ROI,lh_L_MST_ROI,lh_L_V6_ROI,lh_L_V2_ROI,lh_L_V3_ROI,lh_L_V4_ROI,lh_L_V8_ROI,lh_L_4_ROI,lh_L_3b_ROI,lh_L_FEF_ROI,...,rh_R_LBelt_ROI,rh_R_A4_ROI,rh_R_STSva_ROI,rh_R_TE1m_ROI,rh_R_PI_ROI,rh_R_a32pr_ROI,rh_R_p24_ROI,NewID,SA,GM_Vol
NewID,,,,,,,,,,,,,,,,,,,,,
UKB1000028,2.177,2.725,2.385,2.229,2.547,2.513,2.998,3.415,1.971,2.788,...,2.604,3.784,2.200,2.713,2.863,2.720,2.894,UKB1000028,168563,487343
UKB1000133,1.970,2.567,2.262,2.268,2.419,2.574,2.609,3.236,1.890,2.995,...,2.909,3.034,2.650,3.183,2.493,2.546,2.946,UKB1000133,187519,526094
UKB1000260,1.854,2.723,2.677,2.095,2.422,2.486,2.327,2.958,1.785,2.941,...,2.355,3.266,2.982,2.975,2.999,2.874,3.664,UKB1000260,167428,492785
UKB1000329,2.008,2.197,2.508,2.191,2.283,2.443,2.747,3.175,1.993,2.627,...,2.603,3.026,1.765,2.565,2.082,2.926,3.213,UKB1000329,170177,476213
UKB1000430,1.863,2.212,2.263,2.003,2.126,2.331,2.472,2.956,1.792,2.644,...,2.301,3.158,2.313,3.409,2.747,2.566,3.322,UKB1000430,159613,440153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UKB6025704,2.051,2.389,2.153,2.100,2.390,2.417,2.571,2.690,1.874,2.614,...,2.463,2.942,2.267,2.801,2.196,2.530,1.794,UKB6025704,200229,529827
UKB6025720,1.972,2.473,2.340,2.230,2.556,2.615,2.820,3.140,2.063,3.335,...,3.048,3.228,2.407,2.942,2.512,2.833,3.033,UKB6025720,187998,547505
UKB6025771,1.902,2.263,2.169,1.838,2.032,2.291,2.573,2.747,1.803,2.908,...,2.774,2.957,2.502,2.774,2.114,2.816,2.828,UKB6025771,180813,478071
UKB6025805,2.114,2.996,2.287,2.354,2.452,2.452,2.916,3.041,2.010,2.762,...,2.796,3.109,2.062,2.952,2.406,2.738,3.517,UKB6025805,184778,513753
UKB6025942,1.841,2.268,1.857,2.118,2.133,2.145,2.229,3.037,1.618,3.066,...,2.195,2.815,2.604,2.858,2.504,2.441,2.980,UKB6025942,167661,445905

In [15]:
subject_ids = sorted(['UKB4872190', 'UKB4581316', 'UKB1677375', 'UKB3766119', 'UKB2875424'])

In [16]:
phenotype.loc[subject_ids]

,Unnamed: 0,31-0.0,34-0.0,50-0.0,50-1.0,50-2.0,52-0.0,54-0.0,54-1.0,54-2.0,...,40006-23.0,40006-24.0,40006-25.0,40006-26.0,40006-27.0,40006-28.0,40006-29.0,40006-30.0,40006-31.0,eid
UKB1677375,2730,Male,1955,173.0,NaN,172.0,11,11016,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1677375
UKB2875424,7441,Female,1962,170.0,NaN,170.0,10,11014,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2875424
UKB3766119,10930,Male,1954,168.0,NaN,168.0,6,11021,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3766119
UKB4581316,14190,Female,1956,160.0,NaN,160.0,8,11013,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4581316
UKB4872190,15351,Female,1951,165.0,NaN,165.0,10,11010,NaN,11025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4872190

In [17]:
euler.loc[subject_ids]

                   eid  eulerLeft  eulerRight    oldID
eid
UKB1677375  UKB1677375         18           9  1677375
UKB2875424  UKB2875424         28          31  2875424
UKB3766119  UKB3766119         13          16  3766119
UKB4581316  UKB4581316         23          16  4581316
UKB4872190  UKB4872190          9           6  4872190

In [18]:
structural.loc[subject_ids]

,lh_L_V1_ROI,lh_L_MST_ROI,lh_L_V6_ROI,lh_L_V2_ROI,lh_L_V3_ROI,lh_L_V4_ROI,lh_L_V8_ROI,lh_L_4_ROI,lh_L_3b_ROI,lh_L_FEF_ROI,...,rh_R_LBelt_ROI,rh_R_A4_ROI,rh_R_STSva_ROI,rh_R_TE1m_ROI,rh_R_PI_ROI,rh_R_a32pr_ROI,rh_R_p24_ROI,NewID,SA,GM_Vol
NewID,,,,,,,,,,,,,,,,,,,,,
UKB1677375,1.946,2.259,2.298,2.221,2.390,2.315,2.870,2.925,1.872,2.907,...,2.859,3.134,1.787,3.101,1.884,2.586,2.888,UKB1677375,185739,490365
UKB2875424,2.057,2.391,2.584,2.211,2.427,2.628,2.594,2.641,1.894,2.515,...,2.684,2.652,2.635,3.105,2.446,3.142,3.143,UKB2875424,170996,480349
UKB3766119,1.927,2.795,2.117,2.223,2.496,2.463,2.787,3.032,1.958,2.726,...,2.738,3.461,2.068,2.974,2.013,2.652,3.235,UKB3766119,184545,514832
UKB4581316,2.138,2.643,2.585,2.446,2.575,2.518,3.356,2.967,2.124,3.030,...,2.982,2.955,2.157,2.910,1.748,2.869,3.447,UKB4581316,179028,506812
UKB4872190,1.796,2.340,2.047,1.990,2.196,2.317,2.446,2.936,1.861,2.469,...,2.402,2.981,2.760,2.961,2.139,3.038,3.339,UKB4872190,173280,464985

In [19]:
phenotype.loc[subject_ids]['21003-2.0']

UKB1677375    60
UKB2875424    54
UKB3766119    61
UKB4581316    61
UKB4872190    65
Name: 21003-2.0, dtype: int64

Correct edge indexing (for sex similarity metric):
```
tensor([[0, 2],
        [2, 0],
        [1, 3],
        [3, 1],
        [1, 4],
        [4, 1],
        [3, 4],
        [4, 3]])
```